@import "tailwindcss";

.button-primary {
    @apply bg-white rounded-xl font-semibold cursor-pointer text-black px-6 py-2 transition-all duration-300;
}

.button-primary:hover {
    @apply text-white bg-[#f79f3f] scale-110;
}

.button-login {
    @apply bg-[#2b2c2c] rounded-xl font-semibold text-white px-6 py-2 transition-all duration-300 cursor-pointer;
}

.button-login:hover {
    @apply bg-white text-[#2b2c2c] scale-105;
}

.button-secondary {
    @apply bg-[#2b2c2c] rounded-xl font-semibold text-white px-6 py-2 transition-all duration-300 cursor-pointer;
}

.button-secondary:hover {
    @apply bg-[#f79f3f] text-[#2b2c2c] scale-105;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    -webkit-appearance: none;
}

html::-webkit-scrollbar:vertical {
    width: 10px;
}

html::-webkit-scrollbar-button:increment, .contenedor::-webkit-scrollbar-button {
    display: none;
}

html::-webkit-scrollbar:horizontal {
    height: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: #f79f3f;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

html::-webkit-scrollbar-track {
    border-radius: 10px;
}